.main-footer {
  bottom: 0;
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  padding: 0 20px;

  .footer-menu-list {
    display: flex;
    justify-content: space-evenly;

    .footer-menu-item {
      list-style: none;

      a {
        text-decoration: none;
      }
    }
  }

  .foot-note {
    align-items: center;
  }
}
